{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <div id="wrapper-articles">
        <div class="article">
            <div class="article-border"></div>
            <div class="article-inner-wrapper">
                <h1>Регистрация</h1>

                <form method="post" action="/registration">
                    <p>
                        <input type="text" placeholder="login" name="login"><br>
                        <input type="password" placeholder="password" name="password"><br>
                        <input type="submit" name="Зарегистрироваться">
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}